*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: #e0e0e0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header{ 
    display: block;
    flex-direction: column;
    text-align: left;
    font-family: Arial, sans-serif;
    background-color: #5ca55c;
    color: white;
    padding: 1em;
    box-shadow: 0 4px 8px 0 #000;


}
footer{
    display: flex;
    width: 100%;
    background-color: #5ca55c;
    color: white;
    text-align: center;
    padding: 1rem;
    font-family: Arial, sans-serif;
    box-shadow: 0 -4px 8px 0 #000;
}
nav{
    margin: 2rem auto 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    max-width: 1000px;
    padding: 0.25rem 1rem;
}
nav a{
    text-shadow:
    3px 3px 2px #000;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, sans-serif;
    transition: all 0.5s ease;
    
}
div a:hover{
    font-weight: bold;
    text-decoration: wavy;
    font-size: 1.5em;
    color: #3cff4c;
}
.divisores{
    margin-top: 0.5em;
    border-radius: 13px;
    border: #233a23 solid 2px;
    padding: 3em;  
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.6s ease;
}
.divisores:hover{
    box-shadow: 0 0 15px 5px #3cff4c;
    transform: scale(1.1);
}
#cop30{
    background-image: url(imagens/cop30.jpeg);
    background-size: cover;
    background-position: center;
}
#demarcacao{
    background-image: url(imagens/dermacação.jpeg);
    background-size: cover;
    background-position: center;
}
#sobre{
    background-color: #ffffff;
    background-image: url(imagens/team.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}
.grama-fundo{
    background-image: url(imagens/grama-removebg-preview.png);
    background-repeat: repeat-x;
    background-size: 160px auto;
    background-position: center bottom;
    width: 100%;
    min-height: 300px;
    flex: 1 0 auto;
}