*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}
h1, h2, h3 {
    margin-bottom: 15px;
    color: #2c3e50;
}
p {
    margin-bottom: 15px;
}
a {
    color: #3498db;
    text-decoration: none;
    transition: 0.3s ease;
}
a:hover {
    font-size: 1.1em;
    font-weight: bold;
    color: #2980b9;
}
.conteiner {
    border-radius: 10px;
    max-width: 800px;
    margin: auto;
    background: #5ca55c;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}